<button type="button" routerLink="/home">Accueil</button>
<div class="quiz-list">
    <div>
        <input type="file" accept=".json" (change)="importQuiz($event)" />
        <button (click)="goToQuizPage()">Créer un quiz</button>
    </div>
    <br />
    Liste de quiz
    <div *ngFor="let quiz of quizzes | async; let i = index">
        <app-quiz-item [quiz]="quiz" [index]="i" (action)="handle($event)"></app-quiz-item>
    </div>
</div>
<app-question-bank></app-question-bank>
<div class="game-list">
    Liste des parties complétées
    <button type="button" (click)="confirmDeleteAllGames()">supprimer tout</button>
    <button type="button" (click)="sortByName()">trier par nom</button>
    <button type="button" (click)="sortByDate()">trier par date</button>
    <div *ngFor="let game of games | async; let i = index">
        <div class="game-item">
            <span>Nom : {{ game.name }} |</span>
            <span>Date : {{ game.date.toString().slice(0, 10) }} {{ game.date.toString().slice(11, 19) }} |</span>
            <span>Nb de joueurs : {{ game.nPlayers }} |</span>
            <span>Meilleur score : {{ game.bestScore }} |</span>
            <button type="button" (click)="confirmDeleteGame(i)">supprimer</button>
        </div>
    </div>
</div>
