<form (ngSubmit)="submitQuiz()">
    <div class="quiz-settings">
        <div class="title-box">
            <label>Titre:</label>
            <input type="text" [(ngModel)]="quiz.title" name="quiz-title" />
        </div>

        <div class="description-box">
            <label>Description:</label>
            <textarea name="quiz-description" [(ngModel)]="quiz.description"></textarea>
        </div>

        <div class="time-box">
            <label>Temps (10-60 seconds):</label>
            <input name="quiz-duration" type="number" [(ngModel)]="quiz.duration" min="10" max="60" />
        </div>
    </div>

    <div id="question-list" cdkDropList [cdkDropListData]="quiz.questions" (cdkDropListDropped)="drop($event)" cdkDropListConnectedTo="question-bank">
        Questions
        <div cdkDrag *ngFor="let question of quiz.questions; let i = index" class="question-item">
            <app-question-item [question]="question" [index]="i" (action)="handle($event)"></app-question-item>
        </div>
    </div>
    <app-question-bank></app-question-bank>
    <button mat-fab type="button" class="create-button" (click)="openQuestionForm()">
        Créer une question
        <mat-icon>ajouter</mat-icon>
    </button>
    <div>
        <button type="button" class="submit-button" (click)="submitQuiz()">Enregistrer</button>
        <button type="button" class="cancel-button" (click)="close()">Annuler</button>
    </div>
</form>
