/* Style the container for the waiting room */
.waiting-room-container {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Style the title */
/* Style the title */
.title-container {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}

.title-container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #007bff;
    margin: 0;
    padding: 10px 20px;
    border-radius: 20px 0 20px 20px;
    background-color: #cceeff;
    position: absolute;
    top: 0;
    left: 0;
}

.pin-container {
    margin-top: 100px;
}

.pin-container h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.pin-container h1 {
    font-size: 56px;
    font-weight: bold;
    color: #007bff;
    margin: 0;
}

#nPlayers {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.action-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.action-buttons button {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.action-buttons button:hover {
    background-color: darkgrey;
}
