<div
    id="question-bank"
    cdkDropList
    [cdkDropListData]="questions | async"
    (cdkDropListDropped)="drop($event)"
    cdkDropListConnectedTo="question-list"
    cdkDroplistSortingDisabled="true"
>
    Question Bank
    <div *ngFor="let question of questions | async; let i = index" cdkDrag>
        <app-question-item [question]="question" [index]="i" (action)="handle($event)"></app-question-item>
    </div>
<button type="button" class="create-button" (click)="openQuestionForm()">
    <span>Create Question</span>
</button>

</div>

