<div>
    <select [(ngModel)]="selectedType" (change)="filterQuestions()">
        <option value="">Tout</option>
        <option value="QCM">QCM</option>
        <option value="QRL">QRL</option>
    </select>
</div>

<div
    id="question-bank"
    cdkDropList
    [cdkDropListData]="filteredQuestions | async"
    (cdkDropListDropped)="drop($event)"
    cdkDropListConnectedTo="question-list"
    cdkDroplistSortingDisabled="true"
>
    <div class="question-bank-title">Banque de Questions (drag and drop pour transférer vers la liste de questions)</div>
    <div *ngFor="let question of filteredQuestions | async; let i = index" cdkDrag>
        <app-question-item [question]="question" [index]="i" (action)="handle($event)"></app-question-item>
    </div>
    <button type="button" class="create-button" (click)="openQuestionForm()">
        <span>Créer une question</span>
    </button>
</div>
