<div class="home-page-container">
    <div class="grid-title">
        <h2 class="title">Page d'accueil</h2>
    </div>
    <h1 class="main-title">Quizmosis</h1>
    <div class="grid-container">
        <div class="logo-container">
            <img class="logo" src="assets/logo.jpg" />
        </div>
        <div class="buttons-container">
            <nav>
                <button class="button" routerLink="join-game">Joindre une partie</button>
                <button class="button" routerLink="create-game">Créer une partie</button>
                <button class="button" routerLink="admin/quizzes">Administrer les jeux</button>
            </nav>
        </div>
    </div>
    <span class="team-section">Équipe 106 : Allam Hadi | Fawaz Rajab | Hoang Lu-Uy | Li Bai Wu | Ozbalci Ceren | Mikael Carrenard</span>
</div>
