<div *ngIf="questionData">
    <h2>{{ questionData.question }}</h2>

    <p>Points: {{ questionData.points }}</p>

    <div *ngIf="questionData.isMCQ" id="question-container" (keyup)="handleKeyUp($event)">
        <div *ngFor="let answer of questionData.answers; let i = index">
            <label>
                <input [disabled]="!canEditAnswer()" type="checkbox" [(ngModel)]="isChecked[i]" />
                {{ i + 1 }} ) {{ answer }}
            </label>
        </div>
    </div>

    <div *ngIf="!questionData.isMCQ" id="question-container">
        <textarea [disabled]="showingAnswer" placeholder="Type your answer here..."></textarea>
    </div>

    <div *ngIf="showingAnswer" id="grade-container">
        <span *ngFor="let correctAnswer of questionData.correctAnswers; let i = index">
            <p>Réponse(s): {{ correctAnswer }}</p>
        </span>
        {{ calculateGrade() }}
    </div>
</div>
<button [disabled]="!canEditAnswer()" (click)="confirmAnswer">Confirm</button>
