<div *ngIf="getQuestionData() as questionData">
    <div *ngIf="getPlayer() as player">
        <h2>{{ questionData.text }}</h2>

        <p>Valeur de la question: {{ questionData.points }} points</p>

        <div *ngIf="questionData.type === 'QCM'" id="question-container" (keyup)="handleKeyUp($event)">
            <div *ngFor="let choice of playerService.player.questions[playerService.player.questions.length - 1].choices; let i = index">
                <label>
                    <input
                        [disabled]="this.playerService.answerConfirmed"
                        type="checkbox"
                        [(ngModel)]="choice.isCorrect"
                        (ngModelChange)="playerService.updatePlayer()"
                    />
                    {{ i + 1 }} ) {{ choice.text }}
                </label>
            </div>
        </div>

        <div *ngIf="questionData.type === 'QRL'" id="question-container">
            <textarea [disabled]="this.playerService.answerConfirmed" placeholder="Tapez votre réponse ici..."></textarea>
        </div>

        <div>Score: {{ player.score }}</div>

        <div *ngFor="let correctAnswer of playerService.answer; let i = index">
            <p>Réponse(s): {{ correctAnswer.text }}</p>
        </div>
        <div *ngIf="playerService.isCorrect">
            <p>Bonne réponse!</p>
        </div>
        <button [disabled]="this.playerService.answerConfirmed" (click)="playerService.confirmPlayerAnswer()">Confirmer</button>
    </div>
</div>
