<div *ngIf="game">
    <div *ngIf="game.quiz" class="title-container">
        <h2>{{ game.quiz.title }}</h2>
    </div>

    <div>Pin du jeu: {{ game.pin }}</div>

    <div id="nPlayers">Nombre de joueurs: {{ game.players.length }}</div>

    <div id="players-container">
        <p>Joueurs:</p>
        <div class="player-container" *ngFor="let player of game.players">
            {{ player.name }}
        </div>
    </div>

    <footer>
        <button (click)="leaveGame()">Quitter</button>

        <button *ngIf="game.quiz" (click)="startGame()">Commencer la partie</button>
    </footer>

    <div *ngIf="game.locked">
        <app-game-count-down *ngIf="game.quiz" [gameName]="game.quiz.title"></app-game-count-down>
    </div>
</div>
