<body *ngIf="game">
    <app-game-count-down *ngIf="isCountingDown" (countdownEnded)="stopCountDown()" [gameName]="game.quiz.title"></app-game-count-down>
    <button id="leave-button" (click)="openConfirmationDialog()">Quitter</button>
    <div class="container" *ngIf="!isCountingDown">
        <div class="organizer-container">
            <div class="question-display" *ngIf="getCurrentQuestion() as question">
                <h1>{{ question.text }}</h1>
                <p>Points: + {{ question.points }}</p>
            </div>
            <div class="question-display">
                <div *ngIf="getQuestionEnded()">
                    <h1>Question terminée</h1>
                    <button *ngIf="getCurrentQuestion()" (click)="nextQuestion()">Prochaine question</button>
                    <button *ngIf="!getCurrentQuestion()" (click)="showEndGameResult()">Terminer la partie</button>
                </div>
            </div>
        </div>

        <div class="countdown">
            <mat-card class="timer-card">
                <mat-card-content>
                    <mat-icon class="timer-icon">timer</mat-icon>
                    <p class="timer-text">{{ getTime() }}</p>
                </mat-card-content>
            </mat-card>
            <div class="players-container">
                <section class="playerCardContainer">
                    <!-- <h1>Liste de joueurs</h1>
                    <div *ngFor="let player of getPlayers()">
                        <h1 [style.color]="getColor(player)">{{ player.name }}</h1>
                        <h1>{{ player.score }}</h1>
                        <button (click)="mutePlayer(player.name)">{{ player.muted ? 'Unmute' : 'Mute' }}</button>
                    </div>
                    <h1 *ngIf="getQuitters().length">Joueurs ayant quitté</h1>
                    <div *ngFor="let quitter of getQuitters()">
                        <h1 class="quitter" [style.color]="'black'" [style.text-decoration]="'line-through'">{{ quitter.name }}</h1>
                        <h1>{{ quitter.score }}</h1>
                    </div> -->
                    <h1>Liste de joueurs</h1>
                    <button (click)="sortBy('name')">Trier par nom</button>
                    <button (click)="sortBy('score')">Trier par points</button>
                    <button (click)="sortBy('color')">Trier par couleur</button>
                    <div class="player-container">
                        <div *ngFor="let player of getPlayers()" class="player">
                            <h1 [style.color]="getColor(player)" [style.text-decoration]="player.hasLeft ? 'line-through' : ''">{{ player.name }}</h1>
                            <h1>{{ player.score }}</h1>
                            <button *ngIf="!player.hasLeft" (click)="mutePlayer(player.name)">{{ player.muted ? 'Unmute' : 'Mute' }}</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--<button (click)="openConfirmationDialog()">Quitter</button>-->
    </div>
    <div *ngIf="getQrlEnded()" class="evaluation-section">
        <h1 class="section-title">Evaluation des réponses</h1>
        <div class="player-info">
            <h2>Joueur : {{ getCurrentPlayer().name }}</h2>
            <p>Réponse : {{ getCurrentPlayer().questions[getCurrentPlayer().questions.length - 1].qrlAnswer }}</p>
        </div>
        <div class="evaluation-options">
            <label>
                <input type="radio" name="option1" value="0" [(ngModel)]="selectedMultiplier" />
                <span>0 %</span>
            </label>
            <label>
                <input type="radio" name="option1" value="0.5" [(ngModel)]="selectedMultiplier" />
                <span>50 %</span>
            </label>
            <label>
                <input type="radio" name="option1" value="1" [(ngModel)]="selectedMultiplier" />
                <span>100 %</span>
            </label>
        </div>
        <button class="next-button" *ngIf="!isTheLastPlayer()" (click)="nextPlayer()">Prochaine question</button>
        <button class="finish-button" *ngIf="isTheLastPlayer()" (click)="sendEvaluationResults()">Envoyer la correction</button>
    </div>

    <app-chatbox> </app-chatbox>
    <app-histogram *ngIf="histogramData" [chartData]="histogramData"></app-histogram>
</body>
