.container {
    height: 90%;
    display: flex;
    width: 100%;
    background-color: #302b63;
}

.organizer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #302b63;
}

.question-display p {
    font-size: 20px;
    color: #302b63;
    margin-bottom: 15px;
    background-color: #fff5e1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.countdown {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    background-color: #302b63;
}

.timer-card {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: #19547b;
    color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.timer-icon {
    font-size: 1.5rem;
    color: white;
}

.timer-text {
    font-size: 2.5rem;
    color: white;
}
