<div class="question-item">
    <div class="question-detail">
        <div class="title-last-modification">
            <span class="truncated-text">Question: {{ question.text }}</span>
            <div class="question-info">
                <span>{{ question.type }}</span>
                <span>{{ question.points }} pts</span>
                <span *ngIf="displayDate">| Dernière Modification: {{ question.lastModification | date }}</span>
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="action-button" (click)="onAction('edit')">
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" class="action-button" (click)="onAction('delete')">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
