<div class="question-item">
    <div class="question-detail">
        <span>{{ index + 1 }}</span>
        <div class="truncated-text">| Question: {{ question.text }}</div>
        <div class="question-info">
            <span>{{ question.type }}</span>
            <span>{{ question.points }} pts</span>
            <span *ngIf="displayDate">| Dernière Modification: {{ question.lastModification | date }}</span>
        </div>
    </div>
    <div>
        <button type="button" mat-icon-button (click)="onAction('edit')">
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="onAction('delete')">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
