<div *ngIf="showChat" class="chat-container">
    <button (click)="toggleChat()">Close</button>
    <div class="messages">
        <div *ngFor="let message of chatService.messages" class="message">
            <span>{{ message.text }}</span>
            <span class="timestamp"> {{ message.timestamp | date: 'mediumTime' }}</span>
        </div>
    </div>
    <div class="input-container">
        <input [(ngModel)]="newMessage" placeholder="Type your message..." />
        <button id="sendButton" (click)="sendMessage()">Send</button>
    </div>
</div>
