<div class="chatbox-component">
    <button (click)="toggleChat()">
        <span *ngIf="showChat">Close chat</span>
        <span *ngIf="!showChat">Open chat</span>
    </button>
    <div *ngIf="showChat" class="chat-container">
        <h4 id="username">{{ playerName }}</h4>
        <div class="messages">
            <div *ngFor="let message of chatService.messages" class="message">
                <div class="message-header">
                    <span class="author">{{ message.author.name }} :</span>
                    <span class="timestamp">{{ message.timestamp | date: 'mediumTime' }}</span>
                </div>
                <div class="message-body">
                    <span>{{ message.text }}</span>
                </div>
            </div>
        </div>
        <div class="input-container">
            <input [(ngModel)]="newMessage" placeholder="Type your message..." />
            <button id="sendButton" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
