.chatbox-component {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.chat-toggle {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-toggle:hover {
    background-color: #0056b3;
}

.chat-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

#username {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.author {
    font-weight: bold;
    color: #333;
}

.timestamp {
    color: #666;
}

.message-body {
    margin-left: 20px;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container > input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#sendButton {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sendButton:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
