<div class="container">
    <h1>Choisissez un jeu</h1>
    <div class="games-list">
        <button *ngFor="let quiz of quizzes" (click)="chooseQuiz(quiz)" class="game-button">
            {{ quiz.title }}
        </button>
    </div>
    <p *ngIf="chosenQuiz">Jeu sélectionné: {{ chosenQuiz.title }}</p>
    <app-description-panel [selectedGame]="chosenQuiz"></app-description-panel>
</div>
<div class="button-navigation">
    <button routerLink="/home">Retour</button>
    <button class="testGame" (click)="testGame()">Test Game</button>
    <button class="startGame" (click)="startGame()">Start Game</button>
</div>
