<div class="quiz-item">
    <div class="quiz-detail">
        <button class="visibility-button" (click)="onAction('change visibility')">
            <mat-icon>{{ quiz.visible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <div class="title-last-modification">
            <span class="quiz-title">Titre : {{ quiz.title }}</span>
            <span class="last-modification">Dernière modification : {{ quiz.lastModification | date }}</span>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="action-button" (click)="onAction('edit')">
            <mat-icon>edit</mat-icon>
        </button>
        <button type="button" class="action-button" (click)="onAction('export')">
            <mat-icon>save_alt</mat-icon>
        </button>
        <button type="button" class="action-button" (click)="onAction('delete')">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
